$link-color-light: #bf5500;
$link-color-dark: #e37824;
$border-color-dark: #404242;
$border-color-light: #ececec;
$primary-text-color-dark: #979899;
$primary-text-color-light: #727272;
$heading-text-color-light: #5e5e5e;
$placeholder-text-color-light: #c6c6c6;
$placeholder-text-color-dark: #717273;
