@import "variables";

/**
 * THEMES.LIGHT
 */

/* Body */
body {
  background: #fff;
  color: $primary-text-color-light;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-text-color-light;
}

/* Form */
input,
textarea {
  padding: 8px 16px;
  -webkit-appearance: none;
  &::placeholder {
    color: $placeholder-text-color-light;
  }
}

input,
textarea,
button {
  border: 1px solid $border-color-light;
  background-color: #f8f8f8;
  color: $primary-text-color-light;
  &:focus {
    outline-color: $accent-color-light;
  }
}

.contact-form {
  display: grid;
  padding-bottom: 2.5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "name email"
    "text text"
    "butn butn";
  column-gap: 1.75rem;
  row-gap: 1.25rem;
  @media (max-width: 600px) {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "name"
      "email"
      "text"
      "butn";
  }
  input {
    &[name="Name"] {
      grid-area: name;
    }
    &[name="Email Address"] {
      grid-area: email;
    }
  }
  textarea {
    grid-area: text;
    min-height: 150px;
    &:required {
      box-shadow: none;
    }
  }
  div#submit-form {
    grid-area: butn;
    justify-self: end;
    button {
      width: 54px;
      height: 48px;
      .sk-spinner,
      .sk-spinner div {
        width: 40px;
        height: 40px;
      }
      .sk-spinner {
        margin: 29px 26px;
      }
      &:disabled:hover {
        background-color: #3f4040;
      }
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

.contact-result {
  text-align: center;
  padding-bottom: 2.5rem;
  &.error {
    color: $accent-color-light;
  }
}

/* Link Container */
.t-link-container {
  color: inherit;
  display: block;
}

.t-link-container:hover,
.t-link-container:focus,
.t-link-container:active {
  color: inherit;
}

.t-link-container .t-link-container__item--blended {
  color: inherit;
}

/* Links */
a,
.t-link-container .t-link-container__item,
.t-link-container:hover .t-link-container__item--blended {
  color: $accent-color-light;
  outline-color: $accent-color-light;
}

/* Hover Links */
a:hover,
a:focus,
a:active,
.t-link-container:hover .t-link-container__item {
  color: lighten($accent-color-light, 15%);
  text-decoration: underline;
}

/* Horizontal Rulers */
hr,
.t-border-color {
  border-color: $border-color-light;
}

hr,
.t-border-color-bg {
  background: $border-color-light;
}

/* Primary Color */
.t-primary-color,
.t-primary-color-line {
  color: $accent-color-light;
}

.t-primary-bg,
.t-primary-color-line {
  background: $accent-color-light;
}

/* Spinners */
.sk-spinner {
  color: $accent-color-light;
}

/* Brand Colors */
.t-title__first-word {
  color: $primary-text-color-light;
}

.t-title__second-word {
  color: $accent-color-light;
}

.t-sub-title {
  color: $primary-text-color-light;
}

/* Brand Typography */
.t-title {
  font-size: 4.8rem;
  line-height: 0.91;
}

.t-title__first-word {
  text-transform: lowercase;
  font-weight: 300;
}

.t-title__second-word {
  text-transform: uppercase;
  font-weight: 700;
}

.t-sub-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}

/* Icons */
.fas,
.far,
.fal,
.fab {
  color: #e0e0e0;
}

/* Social Buttons */
.t-social-button {
  background: #ededed;
  border-color: #ededed;
}

.t-social-button .fas,
.t-social-button .far,
.t-social-button .fal,
.t-social-button .fab {
  color: #c6c6c6;
}

.t-social-button:hover {
  background: transparent;
}

.t-social-button:hover .fas,
.t-social-button:hover .far,
.t-social-button:hover .fal,
.t-social-button:hover .fab {
  color: $accent-color-light;
}

/* Image Overlay */
.t-image-overlay {
  background: #fff;
}

.t-image-overlay * {
  color: #3a3a3a;
}

.t-image-overlay img {
  @media only screen and (hover: none) {
    opacity: 0.2;
  }
}

.t-image-overlay:hover img {
  opacity: 0.2;
}

.t-image-overlay__deco-line {
  color: #535353;
  background: #535353;
}

/* Transition */
a,
button,
a .fa,
.t-link-container .t-link-container__item,
.t-link-container .t-link-container__item--blended {
  transition: all 0.15s linear;
}

/* Sections */
.t-section__header {
  background: #fafafa;
}

.t-section__content,
.t-section--header .t-section__header {
  background: #fff;
}

.t-section__content-border-color {
  border-color: #fff;
}

.t-timeline__point {
  box-shadow: 0 0 0 6px #fff;
}

@media (max-width: 1023px) {
  .t-section__header {
    border-top: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color-light;
  }
  .t-section--header .t-section__header {
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  /* Odd Sections */
  .t-section,
  .t-section__header,
  .t-section--header .t-section__header {
    background: #fbfbfb;
  }
  .t-section__content {
    background: #fff;
  }
  /* Even Sections */
  .t-section:nth-child(even),
  .t-section:nth-child(even) .t-section__header {
    background: #f8f8f8;
  }
  .t-section:nth-child(even) .t-section__content {
    background: #fcfcfc;
  }
  .t-section:nth-child(even) .t-timeline__point {
    box-shadow: 0 0 0 6px #fcfcfc;
  }
}
